<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NRPG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            NRPG
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "部屋作成", new_room_path, class: :nav__btn %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class="nrpg-explain">
      NRPG(なりきりRPG)とは<br>
      自分の好きなキャラになり、自由に物語を設定して進めたり会話、バトルが楽しめるサイトです。<br>
      <br>
      TRPGとの違い<br>
      モチーフはTRPGをですがNRPGはより自由度を求めています。<br>
      <br>
      TRPGとは<br>
      テーブルトークRPG。参加者それぞれが物語の登場人物となりロールプレイングを楽しむ遊びです。
    </div>
    <main class="main">
      <div class='account-page' id='account-page'>
        <div class='account-page__inner clearfix'>
          <div class='account-page__inner--left account-page__header'>
            <h2>Log in</h2>
            <h5>登録しているユーザーでログイン</h5>
            <%= render "devise/shared/links"%>
          </div>
          <div class='account-page__inner--right user-form'>
            <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
              <div class='field'>
                <div class='field-label'>
                  <%= f.label :email%>
                </div>
                <div class='field-input'>
                  <%= f.email_field :email, autofocus: true%>
                </div>
                <div class='field'>
                  <div class='field-label'>
                    <%= f.label :password%>
                    <i>(英数字6文字以上)</i>
                  </div>
                  <div class='field-input'>
                    <%= f.password_field :password, autocomplete: "off"%>
                  </div>
                </div>
                <div class='actions'>
                  <%= f.submit "Log in", class: 'btn'%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p class="copyright">Copyright © NRPG All rights reserved.</p>
    </footer>
  </body>
</html>