<div class='chat-room-form'>
  <h1>新規キャラクター</h1>
  <%=form_with model: [@room, @chara], local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :キャラ名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
        <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :職業, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :job, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :魔法, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :magic, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :体力, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :hitpoint, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :攻撃力, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :attack, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :防御力, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :defence, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
        <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :回避力, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :escape, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :アイコン, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.file_field :image, class: 'chat__room_name chat-room-form__input', placeholder: '入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
